* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #E5E5E5;
}

.main-container {
    max-width: 1440px;
    background-color: white;
    margin: 0 auto;
}

header{
    text-align: center;
    padding-top: 25px;
    margin-bottom: 30px;
}

.header-title {
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
}

.blue {
    color: #3E45E8;
}

.yellow {
    color: #E8C23E;
}

.main-img {
    width: 100%;
    height: 803px;
    background-image: url("../images/image1.png");
    margin-bottom: 70px;
    background-repeat: no-repeat;
    background-size: 100% 803px;
}

.flag-ukraine {
    padding-left: 80px;
    padding-top: 205px;
}

.main-img-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #ffff;
    padding-top: 195px;
    padding-left: 15px;
    line-height: 75.5px;
    display: inline-block;
    text-transform: uppercase;
}

.title-places {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    text-transform: uppercase;
    color: black;
    margin-left: 80px;
    margin-bottom: 20px;
}

.line {
    border-bottom: 5px solid #3E45E8;
    width: 95%;
    margin-left: 2%;
    margin-bottom: 20px;
}

.incredible-places {
    /* height: 480px; */
    margin-bottom: 75px;
    /* display: flex; */
    text-align: center;
}

.ancient-tustan {
    width: 392px;
    height: 480px;
    background-color: white;
    /* margin-left: 100px; */
    border-radius: 30px;
    display: inline-block;
    margin-top: 30px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.ancient-tustan-img {
    width: 392px;
    height: 303px;
    background-image: url("../images/old\ tustan.png");
    background-repeat: no-repeat;
}

.places-signature {
    padding-top: 15px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
    color: #1E8DF2
}

.item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: #E8C23E;
    padding-left: 10px;
}

.lutsk-castle {
    width: 392px;
    height: 480px;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.lutsk-castle-img {
    width: 392px;
    height: 303px;
    background-image: url("../images/luck\ castle.png");
    background-repeat: no-repeat;
}

.stone {
    width: 392px;
    height: 480px;
    background-color: white;
    margin-left: 30px;
    border-radius: 30px;
    margin-top: 30px;
    display: inline-block;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.stone-img {
    width: 392px;
    height: 303px;
    background-image: url("../images/stone.png");
    background-repeat: no-repeat;
}

.our-ukraine {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: black;
    text-align: center;
}

.line2 {
    border-bottom: 5px solid #3E45E8;
    width: 95%;
    margin: 20px 2% 40px 2%;
}

.logo-ukraine {
    text-align: center;
    margin-bottom: 40px;
}

.support-buttom {
    width: 42%;
    height: 120px;
    background-color: #2A61F0;
    text-align: center;
    margin-left: 27%;
    margin: 0 auto 20px;
}

.support-buttom-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;   
    font-size: 64px;
    line-height: 157.3%;
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
}


/* ------------------FOOTER----------------------- */


footer {
    max-width: 1440px;
    height: 320px;
    background-color: #2F4A4B;
    text-align: center;
}

.footer-title {
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 70px;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}

.footer-email {
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.footer-telephone {
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
    color: #A89D9D;
    margin-bottom: 25px;
}

.instagram-link {
    width: 64px;
    height: 63px;
    display: inline-block;
}

.instagram-link img {
    width: 100%;
    height: 100%;
}


.twitter-link {
    width: 71px;
    height: 68px;
    display: inline-block;
    margin-left: 30px;
}

.twitter-link img {
    width: 100%;
    height: 100%;
}

.facebook-link {
    width: 65px;
    height: 68px;
    display: inline-block;
    margin-left: 30px;
}

.facebook-link img {
    width: 100%;
    height: 100%;
}

.telegram-link {
    width: 64px;
    height: 63px;
    display: inline-block;
    margin-left: 30px;
}

.telegram-link img {
    width: 100%;
    height: 100%;
}




/* ------------------------------МЕДИА ЗАПРОСЫ-------------------------- */





@media (min-width: 992px) and (max-width: 1199px) {
    * {
        margin: 0;
    }
    
    .main-container {
        max-width: 1199px;
        background-color: white;
        margin: 0 auto;
    }
    
    header{
        text-align: center;
        padding-top: 25px;
        margin-bottom: 30px;
    }
    
    .header-title {
        font-family: 'M PLUS 1p', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 70px;
        letter-spacing: 0.1em;
    }
    
    .blue {
        color: #3E45E8;
    }
    
    .yellow {
        color: #E8C23E;
    }
    
    .main-img {
        display: flex;
        width: 100%;
        height: 550px;
        background-image: url("../images/image1.png");
        margin-bottom: 70px;
        background-size: 100% 550px;
        background-repeat: no-repeat;
    }
    
    .flag-ukraine {
        padding-left: 80px;
        padding-top: 145px;
        width: 20px;
        height: 210px;
    }
    
    .main-img-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        color: #ffff;
        padding-top: 145px;
        padding-left: 15px;
        line-height: 52px;
        display: inline-block;
        text-transform: uppercase;
    }
    
    
    .title-places {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 157.3%;
        text-transform: uppercase;
        color: black;
        margin-left: 80px;
    }
    
    .line {
        border-bottom: 5px solid #3E45E8;
        width: 95%;
        margin-left: 2%;
    }
    
    .incredible-places {
        height: 990px;
        margin-bottom: 75px;
        text-align: center;
    }

    .incredible-places a {
        text-decoration: none;
    }
    
    .ancient-tustan {
        width: 392px;
        height: 480px;
        background-color: white;
        /* margin-left: 55px; */
        border-radius: 30px;
        display: inline-block;
        text-decoration: none;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .ancient-tustan-img {
        width: 392px;
        height: 303px;
        background-image: url("../images/old\ tustan.png");
        background-repeat: no-repeat;
    }
    
    .places-signature {
        padding-top: 15px;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 157.3%;
        color: #1E8DF2
    }
    
    .item {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 157.3%;
        color: #E8C23E;
        padding-left: 10px;
    }
    
    .lutsk-castle {
        width: 392px;
        height: 480px;
        background-color: white;
        margin-left: 30px;
        border-radius: 30px;
        display: inline-block;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .lutsk-castle-img {
        width: 392px;
        height: 303px;
        background-image: url("../images/luck\ castle.png");
        background-repeat: no-repeat;
    }
    
    .stone {
        width: 392px;
        height: 480px;
        background-color: white;
        margin-top: 30px;
        margin-left: 31%;
        border-radius: 30px;
        display: block;
        margin-bottom: 75px;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .stone-img {
        width: 392px;
        height: 303px;
        background-image: url("../images/stone.png");
        background-repeat: no-repeat;
    }

    .our-ukraine {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 157.3%;
        color: black;
        text-align: center;
    }
    
    .line2 {
        border-bottom: 5px solid #3E45E8;
        width: 95%;
        margin: 20px auto 30px;
    }
    
    .logo-ukraine {
        text-align: center;
        /* margin-bottom: 40px; */
    }
    
    .support-buttom {
        width: 45%;
        height: 120px;
        background-color: #2A61F0;
        text-align: center;
        margin: 20px auto;
        margin-bottom: 20px;
    }
    
    .support-buttom-text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;   
        font-size: 60px;
        line-height: 157.3%;
        color: white;
        text-transform: uppercase;
        padding-top: 13px;
    }
    
    footer {
        max-width: 1440px;
        height: 320px;
        background-color: #2F4A4B;
        text-align: center;
    }
    
    .footer-title {
        font-family: 'M PLUS 1p', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 55px;
        line-height: 70px;
        letter-spacing: 0.1em;
        margin-bottom: 30px;
    }
    
    .footer-email {
        font-family: 'Marcellus SC';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.1em;
        color: #A89D9D;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
    }
    
    .footer-telephone {
        font-family: 'Marcellus SC';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: block;
        color: #A89D9D;
        margin-bottom: 25px;
    }
    
    .instagram-link {
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    .instagram-link img {
        width: 100%;
        height: 100%;
    }
    
    .twitter-link {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-left: 30px;
    }

    .twitter-link img {
        width: 100%;
        height: 100%;
    }
    
    .facebook-link {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-left: 30px;
    }

    .facebook-link img {
        width: 100%;
        height: 100%;
    }
    
    .telegram-link {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-left: 30px;
    }

    .telegram-link img {
        width: 100%;
        height: 100%;
    }
}





/* -------------------------------------------- */





@media (min-width: 768px) and (max-width: 991px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    .main-container {
        max-width: 991px;
        background-color: white;
        margin: 0 auto;
    }
    
    header{
        text-align: center;
        padding-top: 25px;
        margin-bottom: 30px;
    }
    
    .header-title {
        font-family: 'M PLUS 1p', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 70px;
        letter-spacing: 0.1em;
    }
    
    .blue {
        color: #3E45E8;
    }
    
    .yellow {
        color: #E8C23E;
    }
    
    .main-img {
        display: flex;
        width: 100%;
        height: 450px;
        background-image: url("../images/image1.png");
        margin-bottom: 70px;
        background-size: 100% 550px;
        background-repeat: no-repeat;
    }
    
    .flag-ukraine {
        padding-left: 50px;
        padding-top: 120px;
        width: 20px;
        height: 210px;
    }
    
    .main-img-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        color: #ffff;
        padding-top: 120px;
        padding-left: 15px;
        line-height: 52px;
        display: inline-block;
        text-transform: uppercase;
    }
    
    .title-places {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 157.3%;
        text-transform: uppercase;
        color: black;
        text-align: center;
        margin-left: 0px;
    }
    
    .line {
        border-bottom: 5px solid #3E45E8;
        width: 95%;
        margin: 20px auto 0;
        margin-bottom: 30px;
    }
    
    .incredible-places {
        /* height: 990px; */
        margin-bottom: 75px;
        text-align: center;
    }

    .incredible-places a {
        text-decoration: none;
    }
    
    .ancient-tustan {
        width: 392px;
        height: 480px;
        background-color: white;
        /* margin-left: 55px; */
        border-radius: 30px;
        display: inline-block;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .ancient-tustan-img {
        width: 392px;
        height: 303px;
        background-image: url("../images/old\ tustan.png");
        background-repeat: no-repeat;
    }
    
    .places-signature {
        padding-top: 15px;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 157.3%;
        color: #1E8DF2
    }
    
    .item {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 157.3%;
        color: #E8C23E;
        padding-left: 10px;
    }
    
    .lutsk-castle {
        width: 392px;
        height: 480px;
        background-color: white;
        margin: 30px auto 0;
        border-radius: 30px;
        display: inline-block;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
        margin-left: 2%;
    }
    
    .lutsk-castle-img {
        width: 392px;
        height: 303px;
        background-image: url("../images/luck\ castle.png");
        background-repeat: no-repeat;
    }
    
    .stone {
        width: 392px;
        height: 480px;
        background-color: white;
        /* margin-top: 30px; */
        margin: 30px auto;
        border-radius: 30px;
        display: block;
        margin-bottom: 75px;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .stone-img {
        width: 392px;
        height: 303px;
        background-image: url("../images/stone.png");
        background-repeat: no-repeat;
    }

    .our-ukraine {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 157.3%;
        color: black;
        text-align: center;
    }
    
    .line2 {
        border-bottom: 5px solid #3E45E8;
        width: 95%;
        margin: 20px auto 30px;
    }
    
    .logo-ukraine img {
        text-align: center;
        /* margin-bottom: 40px; */
        width: 700px;
    }
    
    .support-buttom {
        width: 55%;
        height: 120px;
        background-color: #2A61F0;
        text-align: center;
        margin: 20px auto;
        margin-bottom: 20px;
    }
    
    .support-buttom-text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;   
        font-size: 55px;
        line-height: 157.3%;
        color: white;
        text-transform: uppercase;
        padding-top: 15px;
    }
    
    footer {
        max-width: 1440px;
        height: 320px;
        background-color: #2F4A4B;
        text-align: center;
    }
    
    .footer-title {
        font-family: 'M PLUS 1p', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 55px;
        line-height: 70px;
        letter-spacing: 0.1em;
        margin-bottom: 30px;
    }
    
    .footer-email {
        font-family: 'Marcellus SC';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.1em;
        color: #A89D9D;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
    }
    
    .footer-telephone {
        font-family: 'Marcellus SC';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: block;
        color: #A89D9D;
        margin-bottom: 25px;
    }
    
    .instagram-link {
        width: 64px;
        height: 63px;
        display: inline-block;
    }
    
    .instagram-link img {
        width: 100%;
        height: 100%;
    }
    
    .twitter-link {
        width: 71px;
        height: 68px;
        display: inline-block;
        margin-left: 30px;
    }
    
    .twitter-link img {
        width: 100%;
        height: 100%;
    }
    
    .facebook-link {
        width: 65px;
        height: 68px;
        display: inline-block;
        margin-left: 30px;
    }
    
    .facebook-link img {
        width: 100%;
        height: 100%;
    }
    
    .telegram-link {
        width: 64px;
        height: 63px;
        display: inline-block;
        margin-left: 30px;
    }
    
    .telegram-link img {
        width: 100%;
        height: 100%;
    }
}






/* -------------------------------------------- */







@media (min-width: 576px) and (max-width: 767px) {
    
    *{ 
        margin: 0;
    }

    .main-container {
        max-width: 767px;
        width: 100%;
        background-color: white;
        margin: 0 auto;
    }
    
    header{
        text-align: center;
        padding-top: 25px;
        margin-bottom: 30px;
    }
    
    .header-title {
        font-family: 'M PLUS 1p', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 70px;
        letter-spacing: 0.1em;
    }
    
    .blue {
        color: #3E45E8;
    }
    
    .yellow {
        color: #E8C23E;
    }
    
    .main-img {
        display: flex;
        width: 100%;
        height: 450px;
        background-image: url("../images/image1.png");
        margin-bottom: 70px;
        background-size: 100% 550px;
        background-repeat: no-repeat;
    }
    
    .flag-ukraine {
        padding-left: 50px;
        padding-top: 120px;
        width: 20px;
        height: 210px;
    }
    
    .main-img-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        color: #ffff;
        padding-top: 120px;
        padding-left: 15px;
        line-height: 36px;
        display: inline-block;
        text-transform: uppercase;
    }
    
    .title-places {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 157.3%;
        text-transform: uppercase;
        color: black;
        text-align: center;
        margin-left: 0px;
    }
    
    .line {
        border-bottom: 5px solid #3E45E8;
        width: 95%;
        margin: 20px auto 0;
        margin-bottom: 20px;
    }
    
    .incredible-places {
        /* height: 990px; */
        margin-bottom: 60px;
        text-align: center;
    }
    
    .incredible-places a {
        text-decoration: none;
    }

    .ancient-tustan {
        width: 392px;
        height: 480px;
        background-color: white;
        /* margin-left: 55px; */
        border-radius: 30px;
        display: inline-block;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .ancient-tustan-img {
        width: 392px;
        height: 303px;
        background-image: url("../images/old\ tustan.png");
        background-repeat: no-repeat;
    }
    
    .places-signature {
        padding-top: 15px;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 157.3%;
        color: #1E8DF2
    }
    
    .item {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 157.3%;
        color: #E8C23E;
        padding-left: 10px;
    }
    
    .lutsk-castle {
        width: 392px;
        height: 480px;
        background-color: white;
        margin: 30px auto 0;
        border-radius: 30px;
        display: inline-block;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .lutsk-castle-img {
        width: 392px;
        height: 303px;
        background-image: url("../images/luck\ castle.png");
        background-repeat: no-repeat;
    }
    
    .stone {
        width: 392px;
        height: 480px;
        background-color: white;
        /* margin-top: 30px; */
        margin: 30px auto;
        border-radius: 30px;
        display: block;
        margin-bottom: 50px;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .stone-img {
        width: 392px;
        height: 303px;
        background-image: url("../images/stone.png");
        background-repeat: no-repeat;
    }

    .our-ukraine {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 37px;
        line-height: 157.3%;
        color: black;
        text-align: center;
    }
    
    .line2 {
        border-bottom: 5px solid #3E45E8;
        width: 95%;
        margin: 20px auto 30px;
    }
    
    .logo-ukraine img {
        text-align: center;
        /* margin-bottom: 40px; */
        width: 550px;
    }
    
    .support-buttom {
        width: 75%;
        height: 107px;
        background-color: #2A61F0;
        text-align: center;
        margin: 20px auto;
        margin-bottom: 20px;
    }
    
    .support-buttom-text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;   
        font-size: 55px;
        line-height: 157.3%;
        color: white;
        text-transform: uppercase;
        padding-top: 10px;
    }
    
    footer {
        max-width: 1440px;
        height: 320px;
        background-color: #2F4A4B;
        text-align: center;
    }
    
    .footer-title {
        font-family: 'M PLUS 1p', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 70px;
        letter-spacing: 0.1em;
        margin-bottom: 30px;
    }
    
    .footer-email {
        font-family: 'Marcellus SC';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.1em;
        color: #A89D9D;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
    }
    
    .footer-telephone {
        font-family: 'Marcellus SC';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: block;
        color: #A89D9D;
        margin-bottom: 25px;
    }
    
    .instagram-link {
        width: 64px;
        height: 63px;
        display: inline-block;
    }
    
    .instagram-link img {
        width: 100%;
        height: 100%;
    }
    
    .twitter-link {
        width: 71px;
        height: 68px;
        display: inline-block;
        margin-left: 30px;
    }
    
    .twitter-link img {
        width: 100%;
        height: 100%;
    }
    
    .facebook-link {
        width: 65px;
        height: 68px;
        display: inline-block;
        margin-left: 30px;
    }
    
    .facebook-link img {
        width: 100%;
        height: 100%;
    }
    
    .telegram-link {
        width: 64px;
        height: 63px;
        display: inline-block;
        margin-left: 30px;
    }
    
    .telegram-link img {
        width: 100%;
        height: 100%;
    }
}





/* ------------------------------------------- */





@media (max-width: 575px) {
    * {
        margin: 0;
    }
    
    .main-container {
        max-width: 575px;
        width: 100%;
        background-color: white;
        margin: 0 auto;
    }
    
    header{
        text-align: center;
        padding-top: 25px;
        margin-bottom: 30px;
    }
    
    .header-title {
        font-family: 'M PLUS 1p', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 70px;
        letter-spacing: 0.1em;
    }
    
    .blue {
        color: #3E45E8;
    }
    
    .yellow {
        color: #E8C23E;
    }
    
    .main-img {
        display: flex;
        width: 100%;
        height: 300px;
        background-image: url("../images/image1.png");
        margin-bottom: 50px;
        background-size: 100% 320px;
        background-repeat: no-repeat;
    }
    
    .flag-ukraine {
        padding-left: 25px;
        padding-top: 55px;
        width: 20px;
        height: 170px;
    }
    
    .main-img-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #ffff;
        padding-top: 55px;
        padding-left: 15px;
        line-height: 28px;
        display: inline-block;
        text-transform: uppercase;
    }
    
    .title-places {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 157.3%;
        text-transform: uppercase;
        color: black;
        text-align: center;
        margin-left: 0px;
    }
    
    .line {
        border-bottom: 5px solid #3E45E8;
        width: 95%;
        margin: 20px auto 0;
        margin-bottom: 30px;
    }
    
    .incredible-places {
        /* height: 990px; */
        margin-bottom: 75px;
        text-align: center;
    }

    a {
        text-decoration: none;
    }
    
    .ancient-tustan {
        width: 360px;
        height: 480px;
        background-color: white;
        /* margin-left: 55px; */
        border-radius: 30px;
        display: inline-block;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .ancient-tustan-img {
        width: 360px;
        height: 303px;
        background-image: url("../images/old\ tustan.png");
        background-repeat: no-repeat;
        background-size: 360px 303px;
    }
    
    .places-signature {
        padding-top: 15px;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 157.3%;
        color: #1E8DF2;
        text-decoration: none;
        
    }
    
    .item {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 157.3%;
        color: #E8C23E;
        padding-left: 10px;
    }
    
    .lutsk-castle {
        width: 360px;
        height: 480px;
        background-color: white;
        margin: 30px auto 0;
        border-radius: 30px;
        display: inline-block;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .lutsk-castle-img {
        width: 360px;
        height: 303px;
        background-image: url("../images/luck\ castle.png");
        background-repeat: no-repeat;
        background-size: 360px 303px;
    }
    
    .stone {
        width: 360px;
        height: 480px;
        background-color: white;
        /* margin-top: 30px; */
        margin: 30px auto;
        border-radius: 30px;
        text-decoration: none;
        display: block;
        margin-bottom: 75px;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
    
    .stone-img {
        width: 360px;
        height: 303px;
        background-image: url("../images/stone.png");
        background-repeat: no-repeat;
        background-size: 360px 303px;
    }

    .our-ukraine {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 157.3%;
        color: black;
        text-align: center;
    }
    
    .line2 {
        border-bottom: 5px solid #3E45E8;
        width: 95%;
        margin: 20px auto;
    }
    
    .logo-ukraine img {
        text-align: center;
        /* margin-bottom: 40px; */
        width: 350px;
    }
    
    .support-buttom {
        width: 300px;
        height: 80px;
        background-color: #2A61F0;
        text-align: center;
        margin: 20px auto;
        margin-bottom: 20px;
    }
    
    .support-buttom-text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;   
        font-size: 40px;
        line-height: 157.3%;
        color: white;
        text-transform: uppercase;
        padding-top: 10px;
    }
    
    footer {
        max-width: 1440px;
        height: auto;
        background-color: #2F4A4B;
        text-align: center;
        padding-bottom: 30px;
    }
    
    .footer-title {
        font-family: 'M PLUS 1p', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 70px;
        letter-spacing: 0.1em;
        margin-bottom: 10px;
    }
    
    .footer-email {
        font-family: 'Marcellus SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0.1em;
        color: #A89D9D;
        text-transform: uppercase;
        display: block;
        margin-bottom: 0;
    }
    
    .footer-telephone {
        font-family: 'Marcellus SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: block;
        color: #A89D9D;
        margin-bottom: 15px;
    }
    
    .instagram-link {
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    .instagram-link img {
        width: 100%;
        height: 100%;
    }
 
    .twitter-link {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-left: 20px;
    }
    
    .twitter-link img {
        width: 100%;
        height: 100%;
    }
    
    .facebook-link {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-left: 20px;
    }
    
    .facebook-link img {
        width: 100%;
        height: 100%;
    }
    
    .telegram-link {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-left: 20px;
    }
    
    .telegram-link img {
        width: 100%;
        height: 100%;
    }

}